<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form>
							<div class="form-group">
								<div class="form-checkbox">
									<label for="plate-radio">
										<input type="radio" id="plate-radio" name="department-radio" onclick="onLoad()">
										<span></span>Plate
									</label>
									<label for="bar-tool-radio">
										<input type="radio" id="bar-tool-radio" name="department-radio" onclick="onLoad2()">
										<span></span>Bar/Tool
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 hide" id="plate-materials">
									<div class="form-group">
										<span class="form-label">Material</span>
										<select class="form-control">
											<option value="" disabled selected>Select your option</option>
											<option>ASTM A-36 PLATE/HOT ROLL PLATE(CAN’T ANNEAL)</option>
											<option>HOT ROLL QC PLATE</option>
											<option>A-36 DOMESTIC</option>
											<option>QUICK CUT 15</option>
											<option>QUICK CUT 20</option>
											<option>QUICK CUT 45</option>
											<option>1045 PLATE (ANNEAL)</option>
											<option>A514 GRADE (x= B,E,F,H,P,Q,R,S) / T-1</option>
											<option>1015 HR PLATE</option>
											<option>1020 HR PLATE</option>
											<option>1060 PLATE</option>
											<option>4140 AS ROLLED PLATE (ANNEAL OR HT TO)</option>
											<option>4340 AS ROLLED PLATE (ANNEAL)</option>
											<option>A516 PLATE (DO NOT ANNEAL)</option>
											<option>A572 PLATE GRADE 50 / A709 GR 50</option>
											<option>A572 PLATE GRADE 65</option>
											<option>ASTM A-588 HR PLATE / A709 GR 50W</option>
											<option>AR400 PLATE</option>
											<option>AR500 PLATE</option>
											<option>FLOOR PLATE</option>
											<option>HR GAGE PLATE (x=10,11,12,ETC.)</option>
											<option>HR PICKLED & OILED</option>
											<option>572 MM PLATE (x=16,20,ETC.)</option>
											<option>572 MM PLATE (x=16,20,ETC.)</option>
											<option>572 MM PLATE (x=16,20,ETC.)</option>
											<option>572 MM PLATE (x=16,20,ETC.)</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-3 hide" id="bar-tool-materials">
									<div class="form-group">
										<span class="form-label">Material</span>
										<select class="form-control ">
											<option>HR BAR</option>
												<option>HR SQUARE</option>
												<option>HR ROUND</option>
												<option>1018 HR ROUND</option>
												<option>COLD ROLL FLAT</option>
												<option>COLD ROLL ROUND</option>
												<option>COLD ROLL SQUARE</option>
												<option>4140 BAR'</option>
												<option>4140 ANNEALED ROUNDS</option>
												<option>4140 DCF ANNEALED</option>
												<option>4140 DCF ANNEALED (NON -STANDARD)</option>
												<option>4140 DCF PRE HARD (NON-STANDARD)</option>
												<option>4140 HT REDI-CUT ROUNDS</option>
												<option>FLAT GROUND</option>
												<option>A-2 BAR</option>
												<option>A-2 ROUND</option>
												<option>A-2 PLATE</option>
												<option>PREC. FLAT GROUND</option>
												<option>OVERSIZED FLAT GROUND</option>
												<option>D-2 WEAR DIE BAR</option>
												<option>D-2 WEAR DIE ROUND</option>
												<option>D-2 PLATE</option>
												<option>D-2 PREC. FLAT GROUND</option>
												<option>D-2 OVERSIZED FLAT GROUND</option>
												<option>TUBE SQUARE</option>
												<option>TUBE RECTANGLE (LARGER SIZE FIRST)</option>
												<option>ANGLE (EX: 2X2X1/4X 40' = AN03203204)</option>
												<option>WIDE FLANGE BEAM</option>
												<option>STRUCTURAL CHANNEL</option>
												<option>1018 HR ROUND</option>
												<option>8620 PLATE</option>
												<option>8620 ROUNDS</option>
												<option>6061 ALUMINUM SHEET</option>
												<option>6061 ALUMINUM BAR</option>
												<option>6061 ALUMINUM ROUND</option>
												<option>6061 ALUMINUM SQUARE</option>
												<option>1045 TG&P ROUNDS</option>
												<option>CAST TOOL PLATE</option>
												<option>S-7 BAR</option>
												<option>S-7 ROUND</option>
												<option>S-7 PLATE</option>
												<option>H-13 ROUND</option>
												<option>H-13 PLATE</option>
												<option>DOM TUBE</option>
												<option>O-1 BAR</option>
												<option>O-1 ROUND</option>
												<option>O-1 PLATE</option>
												<option>O-1 FLAT GROUND</option>
												<option>O-1 OVERSIZED FLAT GROUND</option>
												<option>STANDARD I-BEAM</option>
												<option>T-1 PLATE</option>
												<option>CD STRESSPROOF</option>
												<option>304 STAINLESS STEEL PLATE</option>
												<option>304 STAINLESS STEEL ROUND</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Thickness</span>
										<input class="form-control" type="text" placeholder="Enter Thickness">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Width</span>
										<input class="form-control" type="text" placeholder="Enter Width">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Length</span>
										<input class="form-control" type="text" placeholder="Length">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Departing</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Returning</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<span class="form-label">Adults (18+)</span>
										<select class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<span class="form-label">Children (0-17)</span>
										<select class="form-control">
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Travel class</span>
										<select class="form-control">
											<option>Economy class</option>
											<option>Business class</option>
											<option>First class</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-btn">
										<button class="submit-btn">Show flights</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static "js/script.js" %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>